* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  padding: 21px;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  margin-left: 20px;
  text-decoration: none;
}

.menu {
  padding-right: 20px;
  font-size: 30px;
  color: blue;
}

.Descriptions {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

.connect {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  width: 117px;
  height: 24px;
  margin-left: 20px;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  background-image: url(image/header-shapes\ mobile.png);
  background-color: #fff;
  position: inherit;
  border-bottom-left-radius: 100px;
  padding-bottom: 5rem;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  align-items: center;
  color: #172b4d;
  margin: 20px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.job {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  margin: 5rem 0 0 0;
  padding: 1rem 0;
  width: 90vw;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.firstJob {
  margin-top: 0;
}

.content {
  margin-left: 30px;
}

#campany {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 13px;
  color: #344563;
  font-family: 'poppins', sans-serif;
  line-height: 16px;
}

#detail {
  font-style: normal;
  font-size: small;
  font-family: 'Poppins', sans-serif;
  color: #7a869a;
  font-weight: 600;
  line-height: 16px;
  size: 13px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  padding: 5px;
}

.grid-container {
  display: grid;
  width: 100%;
  grid-template-rows: 2fr 1fr;
  gap: 4rem;
}

ul {
  padding: 10px;
}

ul > li {
  display: inline;
  padding: 7px;
  gap: 5px;
}

p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  width: 150px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #396df2;
  border-radius: 10px;
  background-color: transparent;
}

.programming {
  padding: 3px;
  margin-top: 2px;
  text-align: center;
  background-color: #ebebff;
  border: 5px solid #ebebff;
  border-radius: 15%;
  width: 57px;
  height: 24px;
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  size: 12px;
  list-style: 16px;
  letter-spacing: 3%;
}

a {
  text-decoration: none;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  align-items: center;
  color: #172b4d;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.skill {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 10px;
  color: #000;
  margin-left: 20px;
}

.arrow {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.tech {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin: 15px;
  color: #253858;
}

.languages {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.languages > li {
  display: flex;
  border: 5px solid #f7f7f9;
  border-radius: 10px;
  margin: 3px;
  background: #fff;
}

.About {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background-color: white;
  border-radius: 0 50px 0 0;
}

.sct-1 > h2 {
  padding: 20px;
  margin-top: 50px;
}

.description {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
  margin-top: 5px;
}

.link {
  padding: 3px;
  color: #505f79;
}

.resume {
  width: 200px;
  margin-left: 20px;
}

#line-1 {
  border-left: 10px solid  #dfe1e6;
  background-color: #dfe1e6;
  width: 94%;
}

.content-1 {
  background-color: #6070ff;
  background-image: url(image/Contact1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 779px;
  width: 415px;
  border-top-left-radius: 100px;
  padding: 20px;
}

.content-h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
  margin-left: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 80px;
}

.contact-me {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: #ebebff;
  margin-left: 40px;
  margin-right: 20px;
}

form {
  display: flex;
  margin-left: 12px;
  margin-right: 20px;
  margin-bottom: 500px;
}

input,
textarea {
  width: 327px;
  height: 48px;
  left: 16px;
  right: 38px;
  top: calc(50% - 18px/2);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
}


textarea {
  width: 327px;
  height: 170px;
  border: 1px solid #cfd8dc;
  color: #b3bac5;
  color: #cfd8dc;
}
#name{
  padding-left: 15px;
}
.in-touch {
  align-items: center;
  padding: 12px 16px;
  width: 142px;
  height: 48px;
  background: #fff;
  border-radius: 8px;
}
